* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    
}

input {
    font-size: 1.5em;
    float: right;
}

label {
    font-family: Verdana;
    font-size: 1.5em;
    font-weight: lighter;
}

.container {
    height: 30vh;
    width: 100vw;
    margin-top: 10vw;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    
    
    opacity: 0;
    transition: opacity 0.5s ease;
}

.section {
    background-image: linear-gradient(to right, white, rgb(220, 240, 255));
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;
    padding: 1em;
    border-radius: 10px;
    height: 100%;
    width: 50%;
}
.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

.comps {
    padding:  0.5em 1em;
    font-size: 1.5em;
}

.comps:hover {
    background-color: gray;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}